.body,
.transactionRecords {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mutableTransactionRecord {
  display: flex;
}

.mutableTransactionRecord :global .mantine-TextInput-input,
:global .mantine-NumberInput-input,
:global .mantine-Select-input,
:global .mantine-DatePicker-input {
  border-radius: 0;
}

.mutableTransactionRecord :global .mantine-Select-itemsWrapper {
  box-sizing: border-box;
}
